<!doctype html>
<html>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <body ng-app="todoApp" ng-controller="MainController">
        <div >
            <h1>{{ title }}</h1>
        </div>
        <form ng-submit="addItem()">
            <input type="text" ng-model="todoItem" placeholder="Whats more?">
        </form>
        <br>
        <div ng-repeat="item in todoList">
            <input type="checkbox" ng-model="item.done">
            <span ng-bind="item.text"></span>
        </div>
        <br>
        <button ng-click="removeItem()">Delete</button>
        <!-- Modules -->
        <script src="js/app.js"></script>

        <!-- Controllers -->
        <script src="js/controllers/MainController.js"></script>
    </body>
</html>